<div class="container">
  <h2>That's all folks!</h2>
  <div class="col-xs-4">
    <h3>Thanks to:</h3>
    <ul>
      <li>Benjamin Gruenbaum</li>
      <li>Brian Ford</li>
      <li>Kent Dodds</li>
      <li>William Scott Moss</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>For more from Randall:</h3>
    <ul>
      <li><a href="http://rkoutnik.com">rkoutnik.com</a></li>
      <li><a href="https://github.com/SomeKittens">github.com/SomeKittens</a></li>
      <li><a href="https://twitter.com/rkoutnik">twitter.com/rkoutnik</a></li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>For more on optimization</h3>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=wbcJfg-d5nI">$asquatch is real! (talk)</a></li>
      <li><a href="http://bahmutov.calepin.co/improving-angular-web-app-performance-example.html">Improving Angular web app performance example</a></li>
      <li><a href="https://docs.google.com/presentation/d/15XgHRI8Ng2MXKZqglzP3PugWFZmIDKOnlAXDGZW2Djg/edit#slide=id.p">Optimizing a Large AngularJS Application (slides)</a></li>
      <li><a href="http://www.alexkras.com/11-tips-to-improve-angularjs-performance/">11 Tips to Improve AngularJS Performance</a></li>
    </ul>
  </div>
</div>